<% layout('/layouts/boilerplate.ejs') -%>
    <div class="row">
        <div class="col-8 offset-2 mt-5">
            <h3>Create A New Listing</h3>
            <form method="POST" action="/listings">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" id="title">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="description" class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" name="listing[image]" placeholder="Enter image URL/Link" id="image"
                        class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="1200" id="price"
                            class="form-control">
                    </div>
    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="India" id="country"
                            class="form-control">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Jaiput, Rajasthan" id="location"
                        class="form-control">
                </div>
                <button class="btn btn-dark add-btn mt-2">Add</button>
            </form>
        </div>
    </div>